<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    
    <link rel="stylesheet" href="https://use.typekit.net/xwr6fly.css">



    <link rel="stylesheet" href="{{ "assets/styles.css" | absURL }}">
    <meta name="robots" content="index, follow" />

    <link rel="shortcut icon" href="">
</head>
<body itemscope itemtype="http://schema.org/WebPage" class="ff-sans c-black bg-main fs-16 lh-3 min-h-screen-h">

    <p class="visually-hidden"><a href="#main">skip to main content</a></p>
    <p class="visually-hidden"><a href="#nav">skip to main navigation</a></p>

    {{ if eq .IsHome false }}
    <header class="w-full bg-black c-main d-flex jc-between">
        <a href="{{ .Site.BaseURL }}" class="c-main d-in-bl p-1 pl-6 fw-900 fs-30 lh-4">{{ .Site.Title }}</a>
        {{ partial "menu.html" . }}
    </header>
    {{ else }}
    <header class="w-full bg-black c-main">
        <div class="w-full bob-s-dotted bob-w-2">
            {{ partial "menu.html" . }}
        </div>
        <div class="c-main d-in-bl pt-3 pl-6 ">
            <p class="fw-900 fs-30 lh-4 pb-3">
                8th<br/>
                International<br/>
                Conference of<br/>
                Critical<br/>
                Geography<br/>
                2019<br/>
            </p>
            <p class="fst-italic pb-3">
                Conflict, War and Uneven Development:<br/>
                De- and Re-constructions of space
            </p>
        </div>
        
    </header>
    {{ end }}

    <main id="main" class="w-full">
        {{ if eq .IsHome false }}
            {{ partial "breadcrumbs.html" . }}
        {{ end }}
        {{ block "main" . }}
        {{ end }}
    </main>
    <script src="{{ "assets/scripts.js" | absURL }}" async defer></script>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    </script>
</body>
</html>
