{{ define "main" }}
<article class="d-block p-6" itemprop="mainEntity" itemscope itemtype="https://schema.org/Event" >
    <header class="mb-3">
        <h1 itemprop="name" class="boxed">{{ .Title }}</h1>
    </header>
    <div class="d-flex">
        <div itemprop="about" class="w-1of2 pr-3 bor-w-2 bor-s-dotted">
            <h3 class="title-1 mb-3 animate">
                {{ .Params.trip_title }}
            </h3>
            <div class="content max-w-75">{{ .Content }}</div>
        </div>
        <aside class="pl-3 w-1of2">
            <time itemprop="doorTime" class="title-2 d-block mb-2">{{ dateFormat "Monday, Jan 2, 2006" .Params.eventdate }}</time>
            <div>
                <span class="fw-600 d-block">Participants:</span>
                <span class="ff-serif fw-300 d-block mb-3">{{ .Params.participants }}</span>
                <span class="fw-600 d-block">Place of Discussion:</span>
                <span class="ff-serif fw-300 d-block">{{ .Params.location }}</span>
            </div>
        </aside>
    </div>
</article>
{{ end }}