{{ define "main" }}
<section>
    <header class="visually-hidden">
        <h1 itemprop="name">{{.Title}}</h1>
    </header>
    <ul itemprop="mainEntity" itemscope itemtype="https://schema.org/ItemList">
    {{ range .Data.Pages }}
        <li>
            <a href="{{ .URL }}" class="hoverblock animate d-block md__p-3 bob-s-dotted bob-w-2">
                <article itemprop="itemListElement" itemscope itemtype="https://schema.org/Event">
                    
                    <header class="p-3">
                        <h2 itemprop="name" class="boxed animate">{{ .Title }}</h2>
                    </header>

                    <div class="d-flex fx-w-wrap">
                        <div itemprop="about" class="w-full lg__w-2of3 xl__w-1of2 p-3">
                            <h3 class="title-1 mb-3 animate">
                                {{ .Params.trip_title }}
                            </h3>
                            <div class="content max-w-75">{{ .Content  | truncate 200 }}</div>
                        </div>
                        <aside class="w-full lg__w-1of3 xl__w-1of2 p-3">
                            <time itemprop="doorTime" class="title-2 d-block mb-2">{{ dateFormat "Monday, Jan 2, 2006" .Params.eventdate }}</time>
                            <div>
                                <span class="fw-600 d-block">Participants:</span>
                                <span class="ff-serif fw-300 d-block mb-3">{{ .Params.participants }}</span>
                                <span class="fw-600 d-block">Place of Discussion:</span>
                                <span class="ff-serif fw-300 d-block">{{ .Params.location }}</span>
                            </div>
                        </aside>
                    </div>

                </article>
            </a>
        </li>
    {{ end }}
    </ul>
</section>
{{ end }}


