{{ define "main" }}
<article>
    <header class="pl-6 pr-6 pb-9 pt-6">
        <h1 itemprop="name" class="fs-30 lh-4 fw-900 tt-upper ls-loose mb-3 c-white animate">Registration Form</h1>
    </header>
    <div>
        {{ .Content }}
    </div>
    <div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
            function onSubmit(token) {
                document.getElementById("invisible-recaptcha-form").submit();
            }
        </script>
        <form id="invisible-recaptcha-form" accept-charset="UTF-8" action="https://usebasin.com/f/9993b0df2c87" enctype="multipart/form-data" method="POST" class="pb-3">


            <div class="d-flex pl-6 pr-6 pb-9 pt-6">

                <section class="w-1of2 pr-6 bor-s-dotted bor-w-2">
                    <h2 class="bg-black c-main fs-16 lh-4 pl-1 pr-1 fw-400 tt-upper ls-loose mb-3">Personal Information</h2>
            
                    <div class="d-flex">
                        <div class="w-1of2 pr-3 mb-6">
                            <label for="first-name" class="fs-16 fw-700 lh-3">First Name</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="first-name" type="text" name="first-name" aria-describedby="error-message-1" required>
                            <div id="error-message-1" class="visually-hidden">This field is required.</div>
                        </div>
                        <div class="w-1of2 pl-3 mb-6">
                            <label for="last-name" class="fs-16 fw-700 lh-3">Last Name</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="last-name" type="text" name="last-name" aria-describedby="error-message-2" required>
                            <div id="error-message-2" class="visually-hidden">This field is required.</div>
                        </div>
                    </div>

                    <div class="w-1of2 pr-3 mb-6">
                        <label for="nationality" class="fs-16 fw-700 lh-3">Nationality</label>
                        <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="nationality" type="text" name="nationality">
                    </div>

                    <div class="d-flex">
                        <div class="w-1of2 pr-3 mb-6">
                            <label for="email" class="fs-16 fw-700 lh-3">Email</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="email" type="email" name="email" aria-describedby="error-message-4" required>
                            <div id="error-message-4" class="visually-hidden">This field is required.</div>
                        </div>
                        <div class="w-1of2 pl-3 mb-6">
                            <label for="tel" class="fs-16 fw-700 lh-3">Phone</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="tel" type="tel" name="tel">
                        </div>
                    </div>

                    <fieldset class="mb-6">
                        <legend class="fw-700 tt-upper ls-loose d-block mb-3 c-white">Institutional Affiliation</legend>
                        <div class="d-flex">
                            <div class="w-1of2 pr-3">
                                <label for="title" class="fs-16 fw-700 lh-3">Title</label>
                                <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="title" type="text" name="title">
                            </div>
                            <div class="w-1of2 pl-3">
                                <label for="position" class="fs-16 fw-700 lh-3">Position</label>
                                <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="position" type="text" name="position">
                            </div>
                        </div>
                    </fieldset>
    
                    <label for="bio" class="fs-16 fw-700 lh-3">Bio</label>
                    <textarea class="p-1 w-full h-25 input lh-3" id="bio" name="bio"></textarea>
            
                </section>

                <section class="w-1of2 pl-6">
                    <h2 class="bg-black c-main fs-16 lh-4 pl-1 pr-1 fw-400 tt-upper ls-loose mb-3">Conference Theme</h2>
                    <fieldset class="mb-6">
                        <legend class=" fw-700 tt-upper ls-loose d-block mb-3 c-white">Choose your theme</legend>
                        <div>
                            {{ range .Site.Data.themes.themes }}
                                {{partial "radio.html" .}}
                            {{end}}
                        </div>
                    </fieldset>
                </section>
                
            </div>

            <div class="d-flex pl-6 pr-6 pb-9 pt-6">

                <section class="w-1of2 pr-6 bor-s-dotted bor-w-2">
                    <h2 class="bg-black c-main fs-16 lh-4 pl-1 pr-1 fw-400 tt-upper ls-loose mb-3">1st co-author</h2>
            
                    <div class="d-flex">
                        <div class="w-1of2 pr-3 mb-6">
                            <label for="first-name-co-a-1" class="fs-16 fw-700 lh-3">First Name</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="first-name-co-a-1" type="text" name="first-name-co-a-1" >
                        </div>
                        <div class="w-1of2 pl-3 mb-6">
                            <label for="last-name-co-a-1" class="fs-16 fw-700 lh-3">Last Name</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="last-name-co-a-1" type="text" name="last-name-co-a-1">
                        </div>
                    </div>

                    <div class="w-1of2 pr-3 mb-6">
                        <label for="nationality-co-a-1" class="fs-16 fw-700 lh-3">Nationality</label>
                        <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="nationality-co-a-1" type="text" name="nationality-co-a-1">
                    </div>

                    <div class="d-flex">
                        <div class="w-1of2 pr-3 mb-6">
                            <label for="email-co-a-1" class="fs-16 fw-700 lh-3">Email</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="email-co-a-1" type="email" name="email-co-a-1" >
                        </div>
                        <div class="w-1of2 pl-3 mb-6">
                            <label for="tel-co-a-1" class="fs-16 fw-700 lh-3">Phone</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="tel-co-a-1" type="tel" name="tel-co-a-1">
                        </div>
                    </div>

                    <fieldset class="mb-6">
                        <legend class="fw-700 tt-upper ls-loose d-block mb-3 c-white">Institutional Affiliation</legend>
                        <div class="d-flex">
                            <div class="w-1of2 pr-3">
                                <label for="title-co-a-1" class="fs-16 fw-700 lh-3">Title</label>
                                <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="title-co-a-1" type="text" name="title-co-a-1">
                            </div>
                            <div class="w-1of2 pl-3">
                                <label for="position-co-a-1" class="fs-16 fw-700 lh-3">Position</label>
                                <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="position-co-a-1" type="text" name="position-co-a-1">
                            </div>
                        </div>
                    </fieldset>

                    <label for="bio-co-a-1" class="fs-16 fw-700 lh-3">Bio</label>
                    <textarea class="p-1 w-full h-25 input lh-3" id="bio-co-a-1" name="bio-co-a-1"></textarea>

                </section>

                <section class="w-1of2 pl-6 ">
                    <h2 class="bg-black c-main fs-16 lh-4 pl-1 pr-1 fw-400 tt-upper ls-loose mb-3">2nd co-author</h2>
            
                    <div class="d-flex">
                        <div class="w-1of2 pr-3 mb-6">
                            <label for="first-name-co-a-2" class="fs-16 fw-700 lh-3">First Name</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="first-name-co-a-2" type="text" name="first-name-co-a-2" >
                        </div>
                        <div class="w-1of2 pl-3 mb-6">
                            <label for="last-name-co-a-2" class="fs-16 fw-700 lh-3">Last Name</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="last-name-co-a-2" type="text" name="last-name-co-a-2">
                        </div>
                    </div>

                    <div class="w-1of2 pr-3 mb-6">
                        <label for="nationality-co-a-2" class="fs-16 fw-700 lh-3">Nationality</label>
                        <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="nationality-co-a-2" type="text" name="nationality-co-a-2">
                    </div>

                    <div class="d-flex">
                        <div class="w-1of2 pr-3 mb-6">
                            <label for="email-co-a-1" class="fs-16 fw-700 lh-3">Email</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="email-co-a-1" type="email" name="email-co-a-1" >
                        </div>
                        <div class="w-1of2 pl-3 mb-6">
                            <label for="tel-co-a-2" class="fs-16 fw-700 lh-3">Phone</label>
                            <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="tel-co-a-2" type="tel" name="tel-co-a-2">
                        </div>
                    </div>

                    <fieldset class="mb-6">
                        <legend class="fw-700 tt-upper ls-loose d-block mb-3 c-white">Institutional Affiliation</legend>
                        <div class="d-flex">
                            <div class="w-1of2 pr-3">
                                <label for="title-co-a-2" class="fs-16 fw-700 lh-3">Title</label>
                                <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="title-co-a-2" type="text" name="title-co-a-2">
                            </div>
                            <div class="w-1of2 pl-3">
                                <label for="position-co-a-2" class="fs-16 fw-700 lh-3">Position</label>
                                <input class="h-4 lh-4 pl-1 pr-1 w-full input" id="position-co-a-2" type="text" name="position-co-a-2">
                            </div>
                        </div>
                    </fieldset>

                    <label for="bio-co-a-2" class="fs-16 fw-700 lh-3">Bio</label>
                    <textarea class="p-1 w-full h-25 input lh-3" id="bio-co-a-2" name="bio-co-a-2"></textarea>

                </section>
            </div>

            <button class="mb-6 mr-auto ml-auto g-recaptcha h-5 lh-4 ta-center bo-w-2 bo-s-solid pl-3 pr-3 tt-upper ls-loose fs-18 fw-700 h__bg-black h__c-white h__bo-c-black animate" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy" data-callback='onSubmit' data-badge="inline" style="cursor:pointer;"s>Submit</button>

        </form>
    </div>
</article>
{{ end }}
