{{ define "main" }}
<article>
    <header class="p-6">
        <h1 itemprop="name" class="fs-36 md__fs-48 lh-6 fw-900 c-red mb-3">Registration Form</h1>
    </header>
    <div class="pl-6 pr-6 content w-full lg__w-1of2">
        {{ .Content }}
    </div>
    <div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
            function onSubmit(token) {
                document.getElementById("invisible-recaptcha-form").submit();
            }
        </script>
        <form id="invisible-recaptcha-form" accept-charset="UTF-8" action="https://usebasin.com/f/9993b0df2c87" enctype="multipart/form-data" method="POST" class="pb-3">

            <div class="d-flex fx-w-wrap">

                <section class="w-full lg__w-1of2 p-6">
                    <h2 class="bg-black c-main fs-16 lh-4 pl-1 pr-1 fw-400 tt-upper ls-loose mb-3">Personal Information</h2>
            
                    <div class="d-flex fx-w-wrap">
                        <div class="w-full md__w-1of2 md__pr-3 mb-6">
                            {{ .Scratch.Set "label" "First Name" }}
                            {{ .Scratch.Set "name" "First Name" }}
                            {{ .Scratch.Set "type" "text" }}
                            {{ .Scratch.Set "req" true }}
                            {{ partial "forms/input" . }}
                        </div>
                        <div class="w-full md__w-1of2 md__pl-3 mb-6">
                            {{ .Scratch.Set "label" "Last Name" }}
                            {{ .Scratch.Set "name" "Last Name" }}
                            {{ .Scratch.Set "type" "text" }}
                            {{ .Scratch.Set "req" true }}
                            {{ partial "forms/input" . }}
                        </div>
                    </div>

                    <div class="w-full md__w-1of2 md__pr-3 mb-6">
                        {{ .Scratch.Set "label" "Nationality" }}
                        {{ .Scratch.Set "name" "Nationality" }}
                        {{ .Scratch.Set "type" "text" }}
                        {{ .Scratch.Set "req" false }}
                        {{ partial "forms/input" . }}
                    </div>

                    <div class="d-flex fx-w-wrap">
                        <div class="w-full md__w-1of2 md__pr-3 mb-6">
                            {{ .Scratch.Set "label" "Email" }}
                            {{ .Scratch.Set "name" "Email" }}
                            {{ .Scratch.Set "type" "email" }}
                            {{ .Scratch.Set "req" true }}
                            {{ partial "forms/input" . }}
                        </div>
                        <div class="w-full md__w-1of2 md__pl-3 mb-6">
                            {{ .Scratch.Set "label" "Phone" }}
                            {{ .Scratch.Set "name" "Phone" }}
                            {{ .Scratch.Set "type" "tel" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                    </div>

                    <fieldset class="mb-6">
                        <legend class="title-2 d-block mb-3">Institutional Affiliation</legend>
                        <div class="d-flex fx-w-wrap">
                            <div class="w-full md__w-1of2 md__pr-3 mb-6">
                                {{ .Scratch.Set "label" "Title" }}
                                {{ .Scratch.Set "name" "Academic Title" }}
                                {{ .Scratch.Set "type" "text" }}
                                {{ .Scratch.Set "req" false }}
                                {{ partial "forms/input" . }}
                            </div>
                            <div class="w-full md__w-1of2 md__pl-3">
                                {{ .Scratch.Set "label" "Position" }}
                                {{ .Scratch.Set "name" "Academic Position" }}
                                {{ .Scratch.Set "type" "text" }}
                                {{ .Scratch.Set "req" false }}
                                {{ partial "forms/input" . }}
                            </div>
                        </div>
                    </fieldset>
    
                    <label for="bio" class="fs-16 fw-700 lh-3">Bio</label>
                    <textarea class="p-1 w-full h-25 input lh-3" id="bio" name="bio"></textarea>
            
                </section>

                <section class="w-full lg__w-1of2 p-6">
                    <h2 class="bg-black c-main fs-16 lh-4 pl-1 pr-1 fw-400 tt-upper ls-loose mb-3">Conference Theme</h2>
                    <fieldset class="mb-6">
                        <legend class="title-2 d-block mb-3">Choose your theme</legend>
                        <div>
                            {{ range .Site.Data.themes.themes }}
                                {{partial "forms/radio.html" .}}
                            {{end}}
                        </div>
                    </fieldset>
                </section>
                
            </div>


            <div class="d-flex pl-6 pr-6 pb-9 pt-6">

                <section class="w-full lg__w-1of2 p-6">
                    <h2 class="bg-black c-main fs-16 lh-4 pl-1 pr-1 fw-400 tt-upper ls-loose mb-3">1st co-author</h2>
            
                    <div class="d-flex fx-w-wrap">
                        <div class="w-full md__w-1of2 md__pr-3 mb-6">
                            {{ .Scratch.Set "label" "First Name" }}
                            {{ .Scratch.Set "name" "1st co-author First Name" }}
                            {{ .Scratch.Set "type" "text" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                        <div class="w-full md__w-1of2 md__pl-3 mb-6">
                            {{ .Scratch.Set "label" "Last Name" }}
                            {{ .Scratch.Set "name" "1st co-author Last Name" }}
                            {{ .Scratch.Set "type" "text" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                    </div>

                    <div class="w-full md__w-1of2 md__pr-3 mb-6">
                        {{ .Scratch.Set "label" "Nationality" }}
                        {{ .Scratch.Set "name" "1st co-author Nationality" }}
                        {{ .Scratch.Set "type" "text" }}
                        {{ .Scratch.Set "req" false }}
                        {{ partial "forms/input" . }}
                    </div>

                    <div class="d-flex fx-w-wrap">
                        <div class="w-full md__w-1of2 md__pr-3 mb-6">
                            {{ .Scratch.Set "label" "Email" }}
                            {{ .Scratch.Set "name" "1st co-author Email" }}
                            {{ .Scratch.Set "type" "email" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                        <div class="w-full md__w-1of2 md__pl-3 mb-6">
                            {{ .Scratch.Set "label" "Phone" }}
                            {{ .Scratch.Set "name" "1st co-author Phone" }}
                            {{ .Scratch.Set "type" "tel" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                    </div>

                    <fieldset class="mb-6">
                        <legend class="title-2 d-block mb-3">Institutional Affiliation</legend>
                        <div class="d-flex fx-w-wrap">
                            <div class="w-full md__w-1of2 md__pr-3 mb-6">
                                {{ .Scratch.Set "label" "Title" }}
                                {{ .Scratch.Set "name" "1st co-author Academic Title" }}
                                {{ .Scratch.Set "type" "text" }}
                                {{ .Scratch.Set "req" false }}
                                {{ partial "forms/input" . }}
                            </div>
                            <div class="w-full md__w-1of2 md__pl-3">
                                {{ .Scratch.Set "label" "Position" }}
                                {{ .Scratch.Set "name" "1st co-author Academic Position" }}
                                {{ .Scratch.Set "type" "text" }}
                                {{ .Scratch.Set "req" false }}
                                {{ partial "forms/input" . }}
                            </div>
                        </div>
                    </fieldset>
    
                    <label for="bio-1" class="fs-16 fw-700 lh-3">Bio</label>
                    <textarea class="p-1 w-full h-25 input lh-3" id="bio-1" name="1st co-author bio"></textarea>
            
                </section>

                <section class="w-full lg__w-1of2 p-6">
                    <h2 class="bg-black c-main fs-16 lh-4 pl-1 pr-1 fw-400 tt-upper ls-loose mb-3">2nd co-author</h2>
            
                    <div class="d-flex fx-w-wrap">
                        <div class="w-full md__w-1of2 md__pr-3 mb-6">
                            {{ .Scratch.Set "label" "First Name" }}
                            {{ .Scratch.Set "name" "2nd co-author First Name" }}
                            {{ .Scratch.Set "type" "text" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                        <div class="w-full md__w-1of2 md__pl-3 mb-6">
                            {{ .Scratch.Set "label" "Last Name" }}
                            {{ .Scratch.Set "name" "2nd co-author Last Name" }}
                            {{ .Scratch.Set "type" "text" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                    </div>

                    <div class="w-full md__w-1of2 md__pr-3 mb-6">
                        {{ .Scratch.Set "label" "Nationality" }}
                        {{ .Scratch.Set "name" "2nd co-author Nationality" }}
                        {{ .Scratch.Set "type" "text" }}
                        {{ .Scratch.Set "req" false }}
                        {{ partial "forms/input" . }}
                    </div>

                    <div class="d-flex fx-w-wrap">
                        <div class="w-full md__w-1of2 md__pr-3 mb-6">
                            {{ .Scratch.Set "label" "Email" }}
                            {{ .Scratch.Set "name" "2nd co-author Email" }}
                            {{ .Scratch.Set "type" "email" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                        <div class="w-full md__w-1of2 md__pl-3 mb-6">
                            {{ .Scratch.Set "label" "Phone" }}
                            {{ .Scratch.Set "name" "2nd co-author Phone" }}
                            {{ .Scratch.Set "type" "tel" }}
                            {{ .Scratch.Set "req" false }}
                            {{ partial "forms/input" . }}
                        </div>
                    </div>

                    <fieldset class="mb-6">
                        <legend class="title-2 d-block mb-3">Institutional Affiliation</legend>
                        <div class="d-flex fx-w-wrap">
                            <div class="w-full md__w-1of2 md__pr-3 mb-6">
                                {{ .Scratch.Set "label" "Title" }}
                                {{ .Scratch.Set "name" "2nd co-author Academic Title" }}
                                {{ .Scratch.Set "type" "text" }}
                                {{ .Scratch.Set "req" false }}
                                {{ partial "forms/input" . }}
                            </div>
                            <div class="w-full md__w-1of2 md__pl-3">
                                {{ .Scratch.Set "label" "Position" }}
                                {{ .Scratch.Set "name" "2nd co-author Academic Position" }}
                                {{ .Scratch.Set "type" "text" }}
                                {{ .Scratch.Set "req" false }}
                                {{ partial "forms/input" . }}
                            </div>
                        </div>
                    </fieldset>
    
                    <label for="bio-2" class="fs-16 fw-700 lh-3">Bio</label>
                    <textarea class="p-1 w-full h-25 input lh-3" id="bio-2" name="2nd co-author bio"></textarea>
            
                </section>
            </div>

            <button class="mb-6 mr-auto ml-auto g-recaptcha h-5 lh-4 ta-center bo-w-2 bo-s-solid pl-3 pr-3 tt-upper ls-loose fs-18 fw-700 bg-white h__bg-black h__c-white h__bo-c-black animate" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy" data-callback='onSubmit' data-badge="inline" style="cursor:pointer;"s>Submit</button>

        </form>
    </div>
</article>
{{ end }}
