{{ range .Data.Pages }}
    <li class="w-full md__w-1of2 lg__w-1of3 xl__w-1of4 hoverblock">
        <a href="{{ .URL }}" class="d-block animate pl-6 pr-6 pb-9 pt-6">
            <article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
                <header>
                    <h3 itemprop="headline" class="title-1 mb-2">
                        {{ .Title }}
                    </h3>
                    <time itemprop="datePublished" class="fs-16 lh-4 fw-700 d-block mb-2">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>
                </header>
                <div class="content">{{ .Content  | truncate 200 }}</div>
            </article>
        </a>
    </li>
{{ end }}
