<nav class="breadcrumbs w-full pl-6 pr-4 fs-12 tt-upper lh-2 pb-1 pt-1 bob-s-dotted bob-w-2">
    <ul>
        {{ with .Site.GetPage "home" "" }}
        <li class="d-in-bl"><a href="{{ .URL }}">{{ .Title }}</a></li>
        {{ end }}
        {{ if eq .Type "blog" }}
            {{ if eq .Kind "section" }}
                <li class="d-in-bl"><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ else }}
                {{ with .Site.GetPage "section" "blog" }}
                    <li class="d-in-bl"><a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
                <li class="d-in-bl"><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ end }}
        {{ else if eq .Type "field-trips" }}
            {{ if eq .Kind "section" }}
                <li class="d-in-bl"><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ else }}
                {{ with .Site.GetPage "section" "field-trips" }}
                    <li class="d-in-bl"><a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
                <li class="d-in-bl"><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ end }}
        {{ else }}
            <li class="d-in-bl"><a href="{{ .URL }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</nav>