{{ define "main" }}
<section>
    <div>
        {{ .Content }}
    </div>
</section>
{{ with .Site.GetPage "section" "blog" }}
<section>
    <header>
        <h2>{{.Title}}</h2>
    </header>
    <ul>
    {{ range .Data.Pages }}
        <li>
            <article>
                <header>
                    <h3>
                        <a href="{{.Permalink}}">{{.Title}}</a>
                    </h3>
                    <time>{{.Date.Format "2006-01-02"}}</time>
                </header>
                <div>{{ .Content  | truncate 100 }}</div>
            </article>
        </li>
    {{ end }}
    </ul>
{{ end }}
</section>
{{ end }}