{{ define "main" }}
<section class="pl-6 pr-6 pb-9 pt-6 bob-s-dotted bob-w-2">
    <div class="fs-36 md__fs-48 lh-6 fw-900 c-red">Athens, Greece</div>
    <div class="fs-36 md__fs-48 lh-6 mb-3 fw-900 c-red">April 19-23 2019</div>
    <div class="fs-18 lh-4 ff-serif w-full lg__w-2of3 xl__w-1of2">
        {{ .Content }}
    </div>
</section>
{{ with .Site.GetPage "section" "blog" }}
<section>
    <header class="visually-hidden">
        <h2>{{.Title}}</h2>
    </header>
    <ul class="d-flex w-full ai-stretch fx-w-wrap">
        {{ partial "blog.html" . }}
    </ul>
{{ end }}
</section>
{{ end }}