/*  =========================================================================
    GLOBAL
    ========================================================================= */
$media-query-widths: (
    'sm' : 26em,
    'md' : 42em,
    'lg' : 62em,
    'xl' : 70em
);
// Media queries
$global-media-queries: (
    'sm__': screen and (min-width: map-get($media-query-widths, 'sm')),
    'md__': screen and (min-width: map-get($media-query-widths, 'md')),
    'lg__': screen and (min-width: map-get($media-query-widths, 'lg')),
    'xl__': screen and (min-width: map-get($media-query-widths, 'xl'))
) ;
    

// Media query postfix or prefix
$global-media-query-postfix    : false ;
// Hover
$global-hover-postfix          : false ;
$global-hover-identifier       : 'h__' ;

// Colors
$global-color-values: (
    'white'         : #ffffff,
    'black'         : #444444,
    'main'          : #eeeeee,
    'gray'          : #999999,
    'red'           : #E03B24,
    'green'         : #43996F,
    'transparent' : transparent
);


// Margins and Paddinga
$global-spacing-values: (
    'auto'    : auto,
    '0'       : 0,
    'line'    : 1px,
    '1'       : 8px,
    '2'       : 16px,
    '3'       : 24px,
    '4'       : 32px,
    '5'       : 40px,
    '6'       : 48px,
    '7'       : 56px,
    '8'       : 64px,
    '9'       : 72px,
    '10'      : 80px,
    '15'      : 120px,
    '20'      : 160px,
    '1of4'    : 25%,
    '1of3'    : 33.3333%,
    '1of2'    : 50%,
    '2of3'    : 66.6666%,
    '3of4'    : 75%,
    'full'    : 100%
);

$global-sizing-values: (
    '0'       : 0,
    'line'    : 1px,
    '1of4'    : 25%,
    '1of3'    : 33.3333%,
    '1of2'    : 50%,
    '2of3'    : 66.6666%,
    '3of4'    : 75%,
    'full'    : 100%,
    'auto'    : auto,
    'screen-h': 100vh,
    'screen-w': 100vw,
    '3'      : 24px,
    '4'      : 32px,
    '5'      : 40px,
    '6'      : 48px,
    '7'      : 56px,
    '8'      : 64px,
    '9'      : 72px,
    '10'     : 80px,
    '12'     : 96px,
    '15'     : 120px,
    '20'     : 160px,
    '25'     : 200px,
    '30'     : 240px,
    '75'     : 600px
);

/*  =========================================================================
    ALIGN CONTENT
    ========================================================================= */

$global-align-content-settings: (
    'responsive'  : true,
    'hover'       : false,
    'classname'   : 'ac-',
    'values': (
        'stretch' : stretch,
        'start'   : flex-start,
        'end'     : flex-end,
        'between' : space-between,
        'around'  : space-around
    )
);

/*  =========================================================================
    ALIGN ITEMS
    ========================================================================= */

$global-align-items-settings: (
    'responsive'  : true,
    'hover'       : false,
    'classname'   : 'ai-',
    'values': (
        'stretch' : stretch,
        'start'   : flex-start,
        'end'     : flex-end,
        'center'  : center,
        'baseline': baseline
    )
);

/*  =========================================================================
    ALIGN SELF
    ========================================================================= */

$global-align-self-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'as-',
    'values': (
        'stretch' : stretch,
        'start'   : flex-start,
        'end'     : flex-end,
        'center'  : center,
        'baseline': baseline,
        'auto'    : auto
    )
);

/*  =========================================================================
    BACKGROUND CLIP
    ========================================================================= */

$global-background-clip-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bg-clip-',
    'values': (
        'bb'   : border-box,
        'pb'   : padding-box,
        'cb'   : content-box
    )
);


/*  =========================================================================
    BACKGROUND COLOR
    ========================================================================= */

$global-background-color-settings: (
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'bg-',
    'values': $global-color-values
);

/*  =========================================================================
    BACKGROUND POSITION
    ========================================================================= */

$global-background-position-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bg-pos-',
    'values': (
        'top'          : top center,
        'bottom'       : bottom center,
        'center'       : center center,
        'right'        : center right,
        'left'         : center left,
        'top-right'    : top right,
        'top-left'     : top left,
        'bottom-right' : bottom right,
        'bottom-left'  : bottom left
    )
);

/*  =========================================================================
    BACKGROUND REPEAT
    ========================================================================= */

$global-background-repeat-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bg-rep-',
    'values': (
        'no'          : no-repeat,
        'x'           : repeat-x,
        'y'           : repeat-y,
        'rep'         : repeat
    )
);

/*  =========================================================================
    BACKGROUND SIZE
    ========================================================================= */

$global-background-size-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bg-size-',
    'values': (
        'contain'  : contain,
        'cover'    : cover,
        'auto'     : auto
    )
);

/*  =========================================================================
    BORDER COLOR
    ========================================================================= */

$global-border-color-settings: (
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'bo-c-',
    'values': $global-color-values
);


/*  =========================================================================
    BORDER STYLE
    ========================================================================= */

$global-border-style-values: (
    'none': none,
    'hidden': hidden,
    'dotted': dotted,
    'dashed': dashed,
    'solid': solid
);

$global-border-style-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bo-s-',
    'values': $global-border-style-values
);

$global-border-top-style-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bot-s-',
    'values': $global-border-style-values
);

$global-border-right-style-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bor-s-',
    'values': $global-border-style-values
);

$global-border-bottom-style-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bob-s-',
    'values': $global-border-style-values
);

$global-border-left-style-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bol-s-',
    'values': $global-border-style-values
);

/*  =========================================================================
    BORDER WIDTH
    ========================================================================= */

$global-border-width-values: (
    '0'       : 0,
    '1'       : 1px,
    '2'       : 2px,
    '4'       : 4px,
    '8'       : 8px,
);

$global-border-width-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bo-w-',
    'values': $global-border-width-values
);

$global-border-top-width-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bot-w-',
    'values': $global-border-width-values
);

$global-border-right-width-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bor-w-',
    'values': $global-border-width-values
);

$global-border-bottom-width-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bob-w-',
    'values': $global-border-width-values
);

$global-border-left-width-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bol-w-',
    'values': $global-border-width-values
);

/*  =========================================================================
    BOX SHADOW
    ========================================================================= */

$global-box-shadow-settings: (
    'responsive' : true,
    'hover'      : true,
    'classname'  : 'bx-s-',
    'values': (
        '0'  : none,
        '1'  : unquote('0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)'),
        '2'  : unquote('0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12)'),
        '3'  : unquote('0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.12)'),
        '4'  : unquote('0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.12)'),
        '5'  : unquote('0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.2), 0 5px 5px -3px rgba(0, 0, 0, 0.12)'),
        '6'  : unquote('0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.2), 0 8px 10px -5px rgba(0, 0, 0, 0.12)'),
        '7'  : unquote('0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.12)')
    )
);

/*  =========================================================================
    CLEAR
    ========================================================================= */

$global-clear-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'cl-',
    'values': (
        'left' : left,
        'right': right,
        'none' : none,
        'both' : both
    )
);

/*  =========================================================================
    COLOR
    ========================================================================= */

$global-color-settings: (
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'c-',
    'values': $global-color-values
);


/*  =========================================================================
    COORDINATES
    ========================================================================= */

$global-coordinates-values: (
    '-6' : -48px,
    '-5' : -40px,
    '-4' : -32px,
    '-3' : -24px,
    '-2' : -16px,
    '-1' : -8px,
    '0'   : 0,
    '1'  : 8px,
    '2'  : 16px,
    '3'  : 24px,
    '4'  : 32px,
    '5'  : 40px,
    '6'  : 48px,
    '1of2': 50%,
    '1of3': 33.3333%,
    '2of3': 66.6666%,
);


$global-top-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'top-',
    'values': $global-coordinates-values
);

$global-right-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'right-',
    'values': $global-coordinates-values
);

$global-bottom-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bottom-',
    'values': $global-coordinates-values
);

$global-left-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'left-',
    'values': $global-coordinates-values
);


/*  =========================================================================
    DISPLAY
    ========================================================================= */

$global-display-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'd-',
    'values': (
        'block' : block,
        'inline': inline,
        'in-bl' : inline-block,
        'flex'  : flex,
        'grid'  : grid,
        'none'  : none
    )
);

/*  =========================================================================
    FLEX DIRECTION
    ========================================================================= */

$global-flex-direction-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fx-d-',
    'values': (
        'row'     : row,
        'row-rev' : row-reverse,
        'col'     : column,
        'col-rev' : column-reverse
    )
);

/*  =========================================================================
    FLEX GROW
    ========================================================================= */

$global-flex-grow-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fx-g-',
    'values': (
        '0' : 0,
        '1' : 1,
        '2' : 2
    )
);

/*  =========================================================================
    FLEX SHRINK
    ========================================================================= */

$global-flex-shrink-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fx-s-',
    'values': (
        '0' : 0,
        '1' : 1,
        '2' : 2
    )
);

/*  =========================================================================
    FLEX WRAP
    ========================================================================= */

$global-flex-wrap-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fx-w-',
    'values': (
        'nowrap'  : nowrap,
        'wrap'    : wrap,
        'reverse' : wrap-reverse
    )
);

/*  =========================================================================
    FLOAT
    ========================================================================= */

$global-float-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fl-',
    'values': ( 
        'left' : left,
        'right': right,
        'none' : none
    )
);

/*  =========================================================================
    FONT FAMILY
    ========================================================================= */

$global-font-family-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'ff-',
    'values': (
        'sans' : unquote('tablet-gothic, "Helvetica Neue", Helvetica, Arial, sans-serif'),
        'serif' : unquote('abril-text, Georgia, serif'),
    )
);
/*  =========================================================================
    FONT SIZE
    ========================================================================= */

$global-font-size-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fs-',
    'values': (
        '12'  : 12px,
        '14'  : 14px,
        '16'  : 16px,
        '18'  : 18px,
        '24'  : 24px,
        '30'  : 30px,
        '36'  : 36px,
        '48'  : 48px,
        '60'  : 60px,
        '72'  : 72px
    )
);

/*  =========================================================================
    FONT STYLE
    ========================================================================= */

$global-font-style-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'fst-',
    'values': (
        'italic'  : italic,
        'normal'  : normal
    )
);

/*  =========================================================================
    FONT VARIANT
    ========================================================================= */

$global-font-variant-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'fv-',
    'values': (
        'small-caps' : small-caps,
        'normal'     : normal
    )
);


/*  =========================================================================
    FONT WEIGHT
    ========================================================================= */

$global-font-weight-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fw-',
    'values': (
        '200'  : 200,
        '300'  : 300,
        '400'  : 400,
        '500'  : 500,
        '600'  : 600,
        '700'  : 700,
        '900'  : 900,
    )
);

/*  =========================================================================
    HEIGHT
    ========================================================================= */

$global-height-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'h-',
    'values': $global-sizing-values
);

$global-min-height-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'min-h-',
    'values': $global-sizing-values
);

$global-max-height-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'max-h-',
    'values': $global-sizing-values
);

/*  =========================================================================
    JUSTIFY CONTENT
    ========================================================================= */

$global-justify-content-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'jc-',
    'values': (
        'center'  : center,
        'start'   : flex-start,
        'end'     : flex-end,
        'between' : space-between,
        'around'  : space-around
    )
);

/*  =========================================================================
    LETTER SPACING
    ========================================================================= */

$global-letter-spacing-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'ls-',
    'values': (
        'tight'  : -0.05em,
        'normal' : 0,
        'loose'  : 1px,
        'extra'  : 0.15em
    )
);

/*  =========================================================================
    LINE HEIGHT
    ========================================================================= */

$global-line-height-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'lh-',
    'values': (
        '2': 16px,
        '3': 24px,
        '4': 32px,
        '5': 40px,
        '6': 48px,
        '7': 56px,
        '8': 64px
    )
);

/*  =========================================================================
    MARGIN
    ========================================================================= */

$global-margin-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'm-',
    'values': $global-spacing-values
);

$global-margin-top-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'mt-',
    'values': $global-spacing-values
);

$global-margin-right-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'mr-',
    'values': $global-spacing-values
);

$global-margin-bottom-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'mb-',
    'values': $global-spacing-values
);

$global-margin-left-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ml-',
    'values': $global-spacing-values
);

/*  =========================================================================
    OPACITY
    ========================================================================= */

$global-opacity-settings: (
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'op-',
    'values': (
        '00' : 0,
        '02' : 0.2,
        '04' : 0.4,
        '06' : 0.6,
        '08' : 0.8,
        '10' : 1
    )
);

/*  =========================================================================
    ORDER
    ========================================================================= */

$global-order-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'or-',
    'values': (
        '-99' : -99,
        '-2'  : -2,
        '-1'  : -1,
        '0'   : 0,
        '1'   : 1,
        '2'   : 2,
        '99'  : 99
    )
);

/*  =========================================================================
    OVERFLOW
    ========================================================================= */

$global-overflow-values: (
    'visible' : visible,
    'hidden'  : hidden,
    'scroll'  : scroll,
    'auto'    : auto
);

$global-overflow-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ov-',
    'values': $global-overflow-values
);

$global-overflow-x-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ov-x-',
    'values': $global-overflow-values
);

$global-overflow-y-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ov-y-',
    'values': $global-overflow-values
);

/*  =========================================================================
    PADDING
    ========================================================================= */

$global-padding-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'p-',
    'values': $global-spacing-values
);

$global-padding-top-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pt-',
    'values': $global-spacing-values
);

$global-padding-right-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pr-',
    'values': $global-spacing-values
);

$global-padding-bottom-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pb-',
    'values': $global-spacing-values
);

$global-padding-left-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pl-',
    'values': $global-spacing-values
);

/*  =========================================================================
    POSITION
    ========================================================================= */

$global-position-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pos-',
    'values': (
        'absolute' : absolute,
        'relative' : relative,
        'static'   : static,
        'fixed'    : fixed
    )
);

/*  =========================================================================
    TEXT ALIGN
    ========================================================================= */

$global-text-align-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ta-',
    'values': (
        'left'    : left,
        'right'   : right,
        'center'  : center,
        'justify' : justify
    )
);

/*  =========================================================================
    TEXT DECORATION
    ========================================================================= */

$global-text-decoration-settings: (
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'td-',
    'values': (
        'none'    : none,
        'under'   : underline,
        'strike'  : line-through
    )
);

/*  =========================================================================
    TEXT TRASNFORM
    ========================================================================= */

$global-text-transform-settings: (
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'tt-',
    'values': (
        'capital': capitalize,
        'upper'  : uppercase,
        'lower'  : lowercase,
        'none'   : none
    )
);

/*  =========================================================================
    WIDTH
    ========================================================================= */

$global-width-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'w-',
    'values': $global-sizing-values
);

$global-min-width-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'min-w-',
    'values': $global-sizing-values
);

$global-max-width-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'max-w-',
    'values': $global-sizing-values
);

/*  =========================================================================
    Z_INDEX
    ========================================================================= */

$global-z-index-settings: (
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'z-',
    'values': (
        '-2': -20,
        '-1': -10,
        '0' : 0,
        '1' : 10,
        '2' : 20,
        '3' : 30,
        '4' : 10,
        '5' : 50
    )
);


/*  =========================================================================
    ASPECT RATIO
    ========================================================================= */

$global-aspect-ratio-settings: (
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ratio-',
    'values': (
        'square'         : 1,
        'gold'           : 0.618,
        'silver'         : 0.4142,
        '3by4'           : 0.75,
        'landscape'      : 0.3333
    )
);